In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('movies.csv')
df2=pd.read_csv('ratings.csv')

In [3]:
df1.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
df2.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
final_df=pd.merge(df1,df2)
final_df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [6]:
final_df.shape

(100836, 6)

In [7]:
final_df.columns

Index(['movieId', 'title', 'genres', 'userId', 'rating', 'timestamp'], dtype='object')

In [15]:
from surprise import Dataset
data=Dataset.load_builtin('ml-100k')

Dataset ml-100k could not be found. Do you want to download it? [Y/n] Trying to download dataset from https://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to C:\Users\grgro/.surprise_data/ml-100k

In [17]:
from surprise.model_selection import train_test_split

movies_train_df, movies_test_df=train_test_split(data, test_size=0.2, random_state=42)

In [18]:
from surprise import SVD
algo=SVD()

In [19]:
algo.fit(movies_train_df)

In [20]:
predictions=algo.test(movies_test_df)

In [21]:
from surprise import accuracy

mse=accuracy.mse(predictions)
rmse=accuracy.rmse(predictions)

MSE: 0.8783
RMSE: 0.9372

In [22]:
movies_test_df

[('907', '143', 5.0),
 ('371', '210', 4.0),
 ('218', '42', 4.0),
 ('829', '170', 4.0),
 ('733', '277', 1.0),
 ('363', '1512', 1.0),
 ('193', '487', 5.0),
 ('808', '313', 5.0),
 ('557', '682', 2.0),
 ('774', '196', 3.0),
 ('638', '118', 3.0),
 ('632', '81', 5.0),
 ('417', '200', 4.0),
 ('580', '471', 3.0),
 ('640', '91', 4.0),
 ('450', '328', 4.0),
 ('596', '13', 2.0),
 ('586', '467', 4.0),
 ('653', '502', 2.0),
 ('378', '517', 3.0),
 ('405', '65', 1.0),
 ('279', '399', 4.0),
 ('327', '293', 3.0),
 ('346', '276', 1.0),
 ('59', '928', 4.0),
 ('514', '22', 4.0),
 ('807', '402', 5.0),
 ('473', '327', 3.0),
 ('342', '324', 1.0),
 ('269', '136', 4.0),
 ('654', '1', 4.0),
 ('250', '28', 4.0),
 ('282', '689', 2.0),
 ('534', '619', 4.0),
 ('194', '481', 3.0),
 ('184', '118', 2.0),
 ('291', '739', 3.0),
 ('293', '31', 2.0),
 ('943', '1028', 2.0),
 ('65', '69', 3.0),
 ('562', '135', 5.0),
 ('466', '62', 3.0),
 ('847', '317', 3.0),
 ('650', '521', 3.0),
 ('656', '326', 1.0),
 ('366', '53', 5.0),
 ('15', '280', 3.0),
 ('474', '322', 4.0),
 ('90', '905', 4.0),
 ('503', '19', 5.0),
 ('334', '1524', 4.0),
 ('90', '632', 5.0),
 ('406', '1118', 3.0),
 ('899', '515', 3.0),
 ('13', '339', 3.0),
 ('430', '19', 5.0),
 ('24', '729', 5.0),
 ('634', '225', 3.0),
 ('727', '89', 5.0),
 ('429', '596', 3.0),
 ('62', '127', 4.0),
 ('771', '241', 1.0),
 ('733', '762', 4.0),
 ('139', '222', 3.0),
 ('916', '721', 4.0),
 ('402', '204', 5.0),
 ('553', '136', 4.0),
 ('62', '1073', 4.0),
 ('521', '271', 3.0),
 ('488', '358', 3.0),
 ('7', '231', 3.0),
 ('346', '727', 1.0),
 ('423', '823', 3.0),
 ('405', '575', 5.0),
 ('385', '1158', 5.0),
 ('630', '125', 3.0),
 ('551', '125', 4.0),
 ('727', '183', 3.0),
 ('660', '810', 3.0),
 ('552', '323', 2.0),
 ('13', '604', 5.0),
 ('642', '812', 4.0),
 ('240', '269', 5.0),
 ('321', '191', 3.0),
 ('85', '921', 3.0),
 ('671', '161', 5.0),
 ('253', '97', 4.0),
 ('605', '187', 5.0),
 ('472', '625', 4.0),
 ('56', '449', 5.0),
 ('881', '141', 3.0),
 ('391', '318', 4.0),
 ('601', '387', 3.0),
 ('497', '475', 4.0),
 ('327', '921', 4.0),
 ('200', '1033', 2.0),
 ('605', '64', 5.0),
 ('796', '879', 4.0),
 ('214', '216', 4.0),
 ('566', '161', 4.0),
 ('653', '423', 2.0),
 ('344', '216', 4.0),
 ('151', '664', 5.0),
 ('64', '751', 2.0),
 ('554', '87', 4.0),
 ('384', '327', 4.0),
 ('798', '1032', 3.0),
 ('622', '90', 4.0),
 ('719', '735', 5.0),
 ('424', '740', 5.0),
 ('294', '358', 2.0),
 ('21', '396', 2.0),
 ('690', '197', 4.0),
 ('360', '471', 4.0),
 ('734', '603', 4.0),
 ('521', '174', 4.0),
 ('484', '300', 4.0),
 ('128', '50', 4.0),
 ('633', '921', 3.0),
 ('854', '466', 3.0),
 ('493', '751', 5.0),
 ('504', '392', 5.0),
 ('655', '318', 4.0),
 ('650', '157', 3.0),
 ('104', '273', 3.0),
 ('872', '117', 4.0),
 ('276', '1170', 4.0),
 ('146', '258', 4.0),
 ('222', '1066', 1.0),
 ('380', '199', 3.0),
 ('618', '195', 3.0),
 ('358', '1266', 4.0),
 ('871', '813', 3.0),
 ('234', '174', 3.0),
 ('912', '15', 4.0),
 ('75', '237', 2.0),
 ('713', '270', 2.0),
 ('251', '33', 3.0),
 ('275', '199', 4.0),
 ('766', '91', 5.0),
 ('22', '204', 5.0),
 ('487', '591', 2.0),
 ('827', '316', 3.0),
 ('919', '22', 5.0),
 ('637', '274', 5.0),
 ('666', '856', 5.0),
 ('349', '458', 4.0),
 ('880', '1197', 3.0),
 ('30', '892', 4.0),
 ('716', '213', 5.0),
 ('235', '70', 5.0),
 ('291', '1042', 4.0),
 ('655', '311', 3.0),
 ('387', '642', 4.0),
 ('109', '31', 4.0),
 ('484', '69', 5.0),
 ('393', '7', 4.0),
 ('314', '53', 1.0),
 ('845', '1394', 4.0),
 ('532', '311', 2.0),
 ('195', '558', 3.0),
 ('89', '151', 5.0),
 ('824', '243', 1.0),
 ('632', '11', 4.0),
 ('393', '412', 3.0),
 ('887', '121', 5.0),
 ('682', '412', 1.0),
 ('406', '210', 5.0),
 ('795', '552', 2.0),
 ('774', '546', 1.0),
 ('47', '304', 3.0),
 ('514', '15', 4.0),
 ('804', '175', 4.0),
 ('804', '1056', 4.0),
 ('21', '243', 2.0),
 ('618', '778', 3.0),
 ('151', '222', 5.0),
 ('224', '583', 1.0),
 ('283', '709', 5.0),
 ('504', '185', 5.0),
 ('553', '135', 4.0),
 ('846', '203', 5.0),
 ('773', '52', 3.0),
 ('385', '384', 1.0),
 ('346', '720', 2.0),
 ('373', '366', 4.0),
 ('881', '474', 3.0),
 ('537', '845', 2.0),
 ('474', '50', 5.0),
 ('293', '77', 2.0),
 ('542', '435', 4.0),
 ('262', '111', 4.0),
 ('109', '1210', 3.0),
 ('181', '1164', 3.0),
 ('847', '96', 4.0),
 ('625', '640', 3.0),
 ('246', '178', 5.0),
 ('425', '24', 2.0),
 ('749', '712', 3.0),
 ('586', '227', 2.0),
 ('410', '754', 3.0),
 ('332', '9', 4.0),
 ('185', '47', 4.0),
 ('582', '826', 3.0),
 ('130', '217', 3.0),
 ('537', '426', 1.0),
 ('295', '380', 4.0),
 ('756', '151', 4.0),
 ('749', '826', 3.0),
 ('405', '657', 1.0),
 ('622', '1407', 1.0),
 ('425', '825', 2.0),
 ('372', '56', 4.0),
 ('338', '1124', 4.0),
 ('795', '568', 3.0),
 ('99', '694', 1.0),
 ('717', '980', 4.0),
 ('470', '952', 3.0),
 ('268', '153', 5.0),
 ('425', '853', 4.0),
 ('457', '566', 4.0),
 ('73', '433', 4.0),
 ('397', '665', 3.0),
 ('466', '357', 4.0),
 ('389', '1114', 2.0),
 ('328', '903', 3.0),
 ('378', '742', 4.0),
 ('65', '211', 4.0),
 ('333', '98', 4.0),
 ('886', '240', 3.0),
 ('897', '673', 5.0),
 ('224', '720', 4.0),
 ('934', '526', 2.0),
 ('181', '931', 1.0),
 ('839', '50', 5.0),
 ('782', '322', 4.0),
 ('181', '263', 1.0),
 ('880', '40', 2.0),
 ('505', '588', 5.0),
 ('207', '433', 3.0),
 ('500', '619', 3.0),
 ('181', '360', 1.0),
 ('922', '62', 3.0),
 ('815', '735', 5.0),
 ('782', '937', 1.0),
 ('894', '638', 3.0),
 ('551', '698', 4.0),
 ('246', '1101', 5.0),
 ('131', '275', 2.0),
 ('606', '248', 5.0),
 ('854', '191', 4.0),
 ('889', '3', 4.0),
 ('547', '294', 1.0),
 ('211', '303', 3.0),
 ('883', '707', 3.0),
 ('823', '228', 3.0),
 ('889', '173', 5.0),
 ('293', '117', 3.0),
 ('723', '164', 4.0),
 ('313', '720', 2.0),
 ('87', '8', 5.0),
 ('305', '215', 2.0),
 ('588', '1411', 1.0),
 ('83', '50', 3.0),
 ('81', '432', 2.0),
 ('372', '77', 5.0),
 ('409', '1512', 5.0),
 ('194', '125', 2.0),
 ('745', '510', 3.0),
 ('749', '191', 4.0),
 ('821', '117', 3.0),
 ('552', '926', 2.0),
 ('541', '659', 5.0),
 ('682', '735', 4.0),
 ('424', '127', 4.0),
 ('854', '264', 1.0),
 ('389', '492', 5.0),
 ('354', '208', 4.0),
 ('527', '127', 5.0),
 ('378', '302', 5.0),
 ('903', '1009', 4.0),
 ('484', '15', 5.0),
 ('62', '7', 4.0),
 ('387', '692', 1.0),
 ('641', '270', 3.0),
 ('164', '9', 4.0),
 ('608', '204', 4.0),
 ('459', '472', 5.0),
 ('566', '122', 2.0),
 ('398', '4', 2.0),
 ('407', '274', 3.0),
 ('144', '273', 4.0),
 ('523', '582', 4.0),
 ('613', '607', 4.0),
 ('416', '690', 5.0),
 ('610', '317', 3.0),
 ('758', '91', 4.0),
 ('308', '58', 3.0),
 ('334', '620', 2.0),
 ('833', '506', 2.0),
 ('70', '231', 3.0),
 ('399', '1035', 3.0),
 ('13', '64', 5.0),
 ('534', '93', 1.0),
 ('843', '708', 2.0),
 ('639', '714', 2.0),
 ('663', '321', 5.0),
 ('189', '1402', 4.0),
 ('457', '172', 5.0),
 ('640', '580', 5.0),
 ('94', '356', 4.0),
 ('504', '187', 3.0),
 ('436', '288', 4.0),
 ('541', '1030', 3.0),
 ('551', '168', 5.0),
 ('703', '15', 5.0),
 ('521', '228', 4.0),
 ('510', '325', 1.0),
 ('463', '689', 2.0),
 ('312', '499', 4.0),
 ('533', '357', 3.0),
 ('393', '794', 4.0),
 ('642', '748', 5.0),
 ('851', '1291', 2.0),
 ('128', '507', 4.0),
 ('568', '653', 4.0),
 ('325', '1', 2.0),
 ('345', '161', 3.0),
 ('741', '280', 3.0),
 ('545', '222', 4.0),
 ('778', '144', 4.0),
 ('874', '137', 4.0),
 ('897', '1254', 2.0),
 ('385', '1143', 4.0),
 ('487', '43', 3.0),
 ('425', '269', 4.0),
 ('758', '412', 5.0),
 ('313', '191', 5.0),
 ('11', '414', 3.0),
 ('225', '1443', 4.0),
 ('849', '676', 5.0),
 ('616', '339', 3.0),
 ('109', '131', 1.0),
 ('548', '164', 5.0),
 ('455', '1034', 2.0),
 ('289', '849', 4.0),
 ('896', '148', 2.0),
 ('38', '294', 5.0),
 ('194', '385', 2.0),
 ('385', '235', 5.0),
 ('553', '131', 5.0),
 ('896', '184', 3.0),
 ('940', '315', 4.0),
 ('178', '144', 4.0),
 ('482', '311', 4.0),
 ('327', '663', 4.0),
 ('601', '173', 5.0),
 ('345', '150', 5.0),
 ('761', '1014', 1.0),
 ('790', '1119', 4.0),
 ('489', '989', 3.0),
 ('38', '318', 3.0),
 ('279', '1496', 3.0),
 ('923', '591', 5.0),
 ('323', '215', 5.0),
 ('376', '181', 4.0),
 ('927', '541', 5.0),
 ('416', '1286', 5.0),
 ('268', '655', 4.0),
 ('64', '196', 4.0),
 ('271', '427', 5.0),
 ('122', '511', 5.0),
 ('167', '404', 3.0),
 ('580', '281', 2.0),
 ('95', '510', 4.0),
 ('615', '237', 4.0),
 ('663', '25', 4.0),
 ('883', '517', 4.0),
 ('189', '30', 4.0),
 ('735', '333', 4.0),
 ('711', '272', 5.0),
 ('874', '124', 4.0),
 ('796', '525', 4.0),
 ('668', '596', 3.0),
 ('533', '9', 4.0),
 ('851', '248', 4.0),
 ('360', '14', 5.0),
 ('62', '181', 4.0),
 ('579', '514', 3.0),
 ('158', '745', 4.0),
 ('119', '1052', 4.0),
 ('275', '162', 3.0),
 ('503', '277', 4.0),
 ('710', '496', 4.0),
 ('660', '550', 2.0),
 ('42', '151', 4.0),
 ('479', '147', 3.0),
 ('574', '887', 4.0),
 ('13', '655', 5.0),
 ('593', '220', 3.0),
 ('524', '526', 3.0),
 ('244', '721', 5.0),
 ('774', '567', 1.0),
 ('848', '132', 5.0),
 ('851', '435', 4.0),
 ('198', '58', 3.0),
 ('286', '210', 5.0),
 ('608', '753', 5.0),
 ('303', '379', 4.0),
 ('271', '221', 3.0),
 ('492', '650', 2.0),
 ('782', '1278', 4.0),
 ('864', '609', 3.0),
 ('763', '357', 4.0),
 ('894', '45', 4.0),
 ('272', '201', 3.0),
 ('264', '275', 5.0),
 ('286', '278', 5.0),
 ('190', '508', 3.0),
 ('80', '194', 3.0),
 ('916', '222', 3.0),
 ('532', '495', 4.0),
 ('929', '136', 3.0),
 ('178', '731', 4.0),
 ('327', '537', 4.0),
 ('591', '172', 3.0),
 ('679', '268', 4.0),
 ('795', '429', 3.0),
 ('234', '321', 2.0),
 ('698', '275', 4.0),
 ('385', '503', 3.0),
 ('268', '746', 3.0),
 ('682', '774', 4.0),
 ('244', '287', 3.0),
 ('387', '175', 5.0),
 ('707', '194', 4.0),
 ('216', '189', 3.0),
 ('524', '523', 4.0),
 ('486', '288', 4.0),
 ('395', '252', 3.0),
 ('620', '78', 4.0),
 ('892', '64', 4.0),
 ('345', '241', 4.0),
 ('593', '597', 2.0),
 ('895', '1', 4.0),
 ('18', '237', 3.0),
 ('60', '151', 5.0),
 ('417', '39', 3.0),
 ('823', '721', 4.0),
 ('286', '231', 3.0),
 ('389', '47', 4.0),
 ('298', '1142', 4.0),
 ('216', '200', 5.0),
 ('236', '204', 3.0),
 ('393', '808', 4.0),
 ('704', '354', 4.0),
 ('416', '1189', 5.0),
 ('349', '696', 3.0),
 ('90', '174', 5.0),
 ('828', '1466', 4.0),
 ('286', '1239', 3.0),
 ('279', '275', 3.0),
 ('451', '322', 4.0),
 ('405', '959', 1.0),
 ('718', '815', 4.0),
 ('321', '116', 3.0),
 ('334', '134', 5.0),
 ('522', '12', 5.0),
 ('889', '469', 4.0),
 ('930', '282', 4.0),
 ('215', '210', 4.0),
 ('716', '603', 5.0),
 ('326', '568', 4.0),
 ('919', '287', 4.0),
 ('344', '25', 4.0),
 ('862', '650', 4.0),
 ('153', '357', 5.0),
 ('627', '521', 2.0),
 ('901', '1120', 4.0),
 ('868', '470', 1.0),
 ('267', '47', 5.0),
 ('361', '166', 4.0),
 ('417', '217', 4.0),
 ('459', '546', 1.0),
 ('152', '22', 5.0),
 ('625', '188', 4.0),
 ('401', '294', 1.0),
 ('160', '79', 4.0),
 ('910', '100', 4.0),
 ('179', '905', 4.0),
 ('379', '502', 5.0),
 ('796', '371', 5.0),
 ('653', '163', 4.0),
 ('746', '208', 4.0),
 ('45', '284', 4.0),
 ('766', '526', 2.0),
 ('303', '578', 2.0),
 ('898', '309', 5.0),
 ('593', '866', 5.0),
 ('643', '144', 4.0),
 ('270', '747', 5.0),
 ('474', '23', 4.0),
 ('121', '237', 5.0),
 ('479', '474', 5.0),
 ('532', '771', 3.0),
 ('121', '313', 5.0),
 ('912', '268', 2.0),
 ('764', '673', 4.0),
 ('387', '1537', 4.0),
 ('34', '288', 2.0),
 ('344', '118', 3.0),
 ('482', '127', 4.0),
 ('456', '697', 4.0),
 ('260', '748', 4.0),
 ('305', '135', 3.0),
 ('457', '114', 5.0),
 ('339', '161', 3.0),
 ('18', '702', 3.0),
 ('918', '190', 5.0),
 ('614', '14', 3.0),
 ('470', '7', 3.0),
 ('93', '934', 3.0),
 ('407', '151', 4.0),
 ('466', '173', 3.0),
 ('279', '824', 4.0),
 ('401', '185', 4.0),
 ('779', '118', 5.0),
 ('184', '629', 3.0),
 ('102', '118', 3.0),
 ('313', '636', 4.0),
 ('232', '166', 4.0),
 ('370', '427', 5.0),
 ('320', '22', 5.0),
 ('299', '1021', 3.0),
 ('786', '230', 4.0),
 ('867', '222', 4.0),
 ('472', '386', 5.0),
 ('826', '313', 5.0),
 ('893', '412', 3.0),
 ('757', '570', 3.0),
 ('709', '431', 5.0),
 ('705', '423', 2.0),
 ('425', '187', 3.0),
 ('268', '325', 3.0),
 ('215', '474', 4.0),
 ('9', '340', 4.0),
 ('770', '742', 4.0),
 ('762', '749', 1.0),
 ('437', '248', 2.0),
 ('13', '88', 4.0),
 ('373', '196', 5.0),
 ('429', '45', 3.0),
 ('560', '7', 3.0),
 ('123', '127', 5.0),
 ('405', '226', 2.0),
 ('756', '742', 3.0),
 ('276', '665', 3.0),
 ('63', '25', 4.0),
 ('884', '198', 5.0),
 ('653', '50', 5.0),
 ('677', '288', 5.0),
 ('561', '513', 3.0),
 ('213', '294', 3.0),
 ('188', '288', 4.0),
 ('634', '866', 3.0),
 ('896', '655', 4.0),
 ('653', '223', 3.0),
 ('817', '327', 4.0),
 ('585', '855', 3.0),
 ('782', '908', 3.0),
 ('758', '234', 4.0),
 ('295', '1459', 5.0),
 ('655', '262', 5.0),
 ('709', '227', 2.0),
 ('64', '64', 4.0),
 ('201', '289', 2.0),
 ('291', '79', 5.0),
 ('452', '94', 1.0),
 ('474', '651', 5.0),
 ('234', '1172', 3.0),
 ('458', '275', 5.0),
 ('927', '552', 4.0),
 ('321', '1050', 3.0),
 ('113', '303', 5.0),
 ('706', '323', 4.0),
 ('92', '527', 3.0),
 ('83', '233', 4.0),
 ('747', '419', 5.0),
 ('234', '172', 3.0),
 ('868', '568', 1.0),
 ('372', '443', 4.0),
 ('95', '716', 3.0),
 ('97', '1', 4.0),
 ('758', '1052', 5.0),
 ('897', '443', 5.0),
 ('320', '1011', 3.0),
 ('279', '169', 5.0),
 ('291', '1012', 4.0),
 ('49', '10', 3.0),
 ('738', '89', 5.0),
 ('711', '403', 4.0),
 ('524', '508', 5.0),
 ('521', '651', 3.0),
 ('633', '581', 3.0),
 ('574', '213', 4.0),
 ('878', '269', 4.0),
 ('727', '38', 1.0),
 ('610', '318', 5.0),
 ('592', '461', 4.0),
 ('562', '684', 4.0),
 ('407', '8', 5.0),
 ('938', '756', 3.0),
 ('671', '327', 1.0),
 ('731', '487', 4.0),
 ('933', '227', 1.0),
 ('805', '475', 5.0),
 ('592', '345', 4.0),
 ('389', '503', 3.0),
 ('487', '92', 4.0),
 ('932', '235', 2.0),
 ('580', '1028', 3.0),
 ('761', '1277', 1.0),
 ('386', '181', 3.0),
 ('145', '155', 2.0),
 ('181', '148', 2.0),
 ('618', '68', 3.0),
 ('18', '474', 4.0),
 ('672', '1190', 2.0),
 ('399', '622', 4.0),
 ('446', '302', 4.0),
 ('848', '511', 4.0),
 ('144', '262', 3.0),
 ('660', '99', 2.0),
 ('892', '1091', 2.0),
 ('303', '164', 4.0),
 ('417', '1210', 2.0),
 ('421', '234', 5.0),
 ('524', '382', 3.0),
 ('290', '1091', 2.0),
 ('18', '8', 5.0),
 ('311', '785', 3.0),
 ('727', '202', 4.0),
 ('804', '615', 5.0),
 ('579', '186', 3.0),
 ('303', '1044', 3.0),
 ('161', '204', 2.0),
 ('320', '24', 3.0),
 ('562', '806', 1.0),
 ('10', '558', 4.0),
 ('881', '49', 5.0),
 ('738', '174', 5.0),
 ('786', '684', 4.0),
 ('23', '283', 4.0),
 ('545', '393', 4.0),
 ('608', '690', 4.0),
 ('608', '333', 4.0),
 ('194', '79', 3.0),
 ('339', '53', 4.0),
 ('162', '179', 3.0),
 ('650', '117', 4.0),
 ('442', '226', 3.0),
 ('867', '28', 5.0),
 ('435', '125', 3.0),
 ('334', '19', 4.0),
 ('804', '210', 5.0),
 ('849', '421', 5.0),
 ('543', '9', 4.0),
 ('181', '620', 2.0),
 ('889', '11', 5.0),
 ('313', '231', 2.0),
 ('801', '752', 4.0),
 ('59', '433', 5.0),
 ('563', '172', 5.0),
 ('712', '462', 3.0),
 ('159', '126', 5.0),
 ('508', '70', 4.0),
 ('653', '492', 4.0),
 ('407', '588', 4.0),
 ('293', '240', 2.0),
 ('210', '243', 2.0),
 ('765', '507', 5.0),
 ('102', '1240', 2.0),
 ('655', '286', 3.0),
 ('618', '276', 3.0),
 ('916', '474', 4.0),
 ('943', '581', 4.0),
 ('930', '100', 3.0),
 ('271', '509', 4.0),
 ('301', '771', 2.0),
 ('7', '652', 3.0),
 ('561', '642', 3.0),
 ('84', '322', 3.0),
 ('116', '270', 3.0),
 ('334', '164', 3.0),
 ('764', '77', 4.0),
 ('737', '173', 4.0),
 ('907', '173', 4.0),
 ('805', '1033', 3.0),
 ('141', '237', 4.0),
 ('145', '1288', 4.0),
 ('901', '560', 3.0),
 ('588', '172', 5.0),
 ('62', '288', 2.0),
 ('62', '228', 3.0),
 ('444', '751', 4.0),
 ('450', '82', 3.0),
 ('389', '386', 3.0),
 ('567', '673', 3.0),
 ('670', '232', 3.0),
 ('756', '1074', 4.0),
 ('387', '1011', 3.0),
 ('447', '629', 3.0),
 ('704', '519', 3.0),
 ('653', '517', 1.0),
 ('198', '381', 3.0),
 ('899', '423', 4.0),
 ('927', '257', 5.0),
 ('91', '326', 3.0),
 ('244', '156', 4.0),
 ('943', '56', 5.0),
 ('880', '186', 4.0),
 ('843', '392', 2.0),
 ('339', '97', 4.0),
 ('199', '14', 4.0),
 ('447', '926', 3.0),
 ('629', '234', 4.0),
 ('694', '528', 3.0),
 ('314', '15', 5.0),
 ('524', '116', 4.0),
 ('432', '295', 3.0),
 ('655', '340', 3.0),
 ('334', '311', 4.0),
 ('747', '408', 5.0),
 ('506', '660', 3.0),
 ('244', '710', 3.0),
 ('276', '157', 5.0),
 ('327', '88', 2.0),
 ('702', '258', 5.0),
 ('309', '324', 3.0),
 ('37', '62', 5.0),
 ('148', '172', 5.0),
 ('417', '545', 1.0),
 ('650', '301', 2.0),
 ('94', '97', 4.0),
 ('332', '12', 5.0),
 ('536', '209', 2.0),
 ('698', '220', 3.0),
 ('151', '100', 3.0),
 ('70', '496', 4.0),
 ('268', '21', 3.0),
 ('14', '70', 1.0),
 ('690', '239', 2.0),
 ('458', '589', 4.0),
 ('7', '523', 4.0),
 ('378', '793', 3.0),
 ('297', '27', 1.0),
 ('59', '208', 5.0),
 ('18', '116', 5.0),
 ('495', '1118', 5.0),
 ('396', '245', 3.0),
 ('837', '277', 2.0),
 ('297', '102', 1.0),
 ('846', '55', 5.0),
 ('368', '441', 3.0),
 ('643', '428', 4.0),
 ('62', '245', 2.0),
 ('383', '180', 5.0),
 ('804', '1291', 3.0),
 ('116', '300', 3.0),
 ('632', '176', 3.0),
 ('76', '264', 3.0),
 ('704', '432', 5.0),
 ('773', '268', 4.0),
 ('413', '222', 4.0),
 ('374', '69', 5.0),
 ('201', '210', 2.0),
 ('8', '172', 5.0),
 ('327', '1012', 2.0),
 ('326', '44', 1.0),
 ('496', '156', 3.0),
 ('296', '111', 3.0),
 ('80', '260', 1.0),
 ('682', '809', 2.0),
 ('700', '98', 3.0),
 ('293', '79', 3.0),
 ('130', '761', 3.0),
 ('524', '490', 3.0),
 ('699', '762', 3.0),
 ('730', '685', 2.0),
 ('833', '144', 4.0),
 ('777', '286', 2.0),
 ('311', '498', 4.0),
 ('314', '158', 3.0),
 ('375', '302', 5.0),
 ('60', '498', 5.0),
 ('579', '4', 2.0),
 ('537', '22', 2.0),
 ('377', '200', 5.0),
 ('828', '921', 4.0),
 ('497', '139', 3.0),
 ('591', '516', 3.0),
 ('908', '194', 3.0),
 ('198', '153', 4.0),
 ('290', '683', 2.0),
 ('815', '87', 5.0),
 ('59', '237', 3.0),
 ('422', '590', 2.0),
 ('308', '71', 4.0),
 ('394', '98', 5.0),
 ('62', '98', 4.0),
 ('829', '410', 3.0),
 ('544', '343', 2.0),
 ('617', '868', 4.0),
 ('56', '71', 4.0),
 ('429', '514', 3.0),
 ('339', '1110', 4.0),
 ('617', '669', 1.0),
 ('549', '1047', 3.0),
 ('647', '255', 4.0),
 ('222', '1206', 2.0),
 ('363', '739', 3.0),
 ('291', '184', 4.0),
 ('301', '271', 4.0),
 ('118', '188', 5.0),
 ('757', '1188', 3.0),
 ('891', '280', 3.0),
 ('565', '165', 4.0),
 ('308', '81', 5.0),
 ('530', '470', 3.0),
 ('243', '93', 2.0),
 ('59', '371', 4.0),
 ('664', '1098', 3.0),
 ('26', '760', 1.0),
 ('830', '211', 4.0),
 ('900', '9', 2.0),
 ('864', '2', 4.0),
 ('597', '242', 4.0),
 ('22', '792', 4.0),
 ('165', '270', 4.0),
 ('483', '462', 3.0),
 ('593', '144', 4.0),
 ('299', '461', 3.0),
 ('280', '237', 3.0),
 ('327', '176', 4.0),
 ('200', '196', 4.0),
 ('264', '672', 3.0),
 ('405', '48', 1.0),
 ('429', '961', 3.0),
 ('215', '164', 3.0),
 ('569', '340', 4.0),
 ('621', '804', 4.0),
 ('188', '22', 5.0),
 ('360', '144', 2.0),
 ('293', '132', 4.0),
 ('399', '343', 2.0),
 ('456', '86', 2.0),
 ('407', '157', 2.0),
 ('707', '100', 5.0),
 ('328', '750', 4.0),
 ('488', '173', 4.0),
 ('868', '229', 3.0),
 ('151', '531', 3.0),
 ('848', '523', 5.0),
 ('454', '95', 2.0),
 ('368', '7', 4.0),
 ('807', '526', 5.0),
 ('708', '15', 3.0),
 ('845', '904', 3.0),
 ('658', '471', 4.0),
 ('328', '194', 3.0),
 ('663', '473', 3.0),
 ('537', '523', 3.0),
 ('323', '1012', 4.0),
 ('92', '834', 1.0),
 ('161', '582', 1.0),
 ('198', '568', 3.0),
 ('650', '429', 4.0),
 ('776', '708', 5.0),
 ('617', '320', 5.0),
 ('843', '121', 3.0),
 ('196', '173', 2.0),
 ('37', '273', 3.0),
 ('402', '410', 1.0),
 ('487', '1', 5.0),
 ('133', '750', 4.0),
 ('123', '23', 4.0),
 ('788', '1248', 3.0),
 ('606', '1280', 2.0),
 ('151', '181', 5.0),
 ('305', '338', 3.0),
 ('889', '297', 3.0),
 ('253', '294', 4.0),
 ('553', '191', 4.0),
 ('409', '1541', 4.0),
 ('285', '150', 5.0),
 ('77', '268', 5.0),
 ('455', '1137', 3.0),
 ('483', '313', 2.0),
 ('84', '15', 4.0),
 ('709', '739', 3.0),
 ('579', '7', 3.0),
 ('327', '709', 4.0),
 ('805', '405', 3.0),
 ('786', '86', 4.0),
 ('334', '301', 2.0),
 ('388', '773', 3.0),
 ('222', '1419', 1.0),
 ('151', '433', 3.0),
 ('556', '187', 5.0),
 ('850', '490', 5.0),
 ('291', '41', 4.0),
 ('846', '739', 4.0),
 ('332', '97', 5.0),
 ('388', '307', 4.0),
 ('776', '134', 4.0),
 ('642', '955', 3.0),
 ('622', '402', 3.0),

In [23]:
movies_train_df

In [24]:
final_df

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

TfidfVectorizer function from scikit-learn, which transforms text to feature vectors that can be used as input to estimator.

Cosine Similarity to calculate a numeric value that denotes the similarity between two books.

In [31]:
tf=TfidfVectorizer(stop_words='english')

df1['genres']=df1['genres'].fillna('')

#construct the required TF-TD matrix by fitting and transforming the data
tfid_matrix=tf.fit_transform(df1['genres'])

# output the shape of tfidf_matrix
tfid_matrix.shape

(9742, 23)

In [29]:
final_df['genres'].value_counts()

genres
Comedy                             7196
Drama                              6291
Comedy|Romance                     3967
Comedy|Drama|Romance               3000
Comedy|Drama                       2851
                                   ...
Crime|Drama|Film-Noir|Romance         1
Crime|Romance                         1
Adventure|Documentary|Western         1
Action|Fantasy|Western                1
Action|Animation|Comedy|Fantasy       1
Name: count, Length: 951, dtype: int64

In [32]:
# import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# compute the cosine similarity
cosine_sim=linear_kernel(tfid_matrix, tfid_matrix)

In [35]:
# construc a reverse map of indices and movie titles

indices=pd.Series(df1.index, index=df1['title']).drop_duplicates()

In [42]:
# creating a function to take movie title as input and output as 10 movies similar to the movie
def get_recommendation(title, cosine_sim=cosine_sim):
    idx=indices[title]

    # computing the similarities between movies
    sim_scores=list(enumerate(cosine_sim[idx]))

    # sorting the 10 most similar movies
    sim_scores=sorted(sim_scores, key=lambda x:x[1], reverse=True)

#     get the score of the 10 most similar movies
    sim_scores=sim_scores[1:11]
    print(sim_scores)
        # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df1['title'].iloc[movie_indices]

In [43]:
get_recommendation('Toy Story (1995)')

[(1706, 0.9999999999999998), (2355, 0.9999999999999998), (2809, 0.9999999999999998), (3000, 0.9999999999999998), (3568, 0.9999999999999998), (6194, 0.9999999999999998), (6486, 0.9999999999999998), (6948, 0.9999999999999998), (7760, 0.9999999999999998), (8219, 0.9999999999999998)]

1706                                          Antz (1998)
2355                                   Toy Story 2 (1999)
2809       Adventures of Rocky and Bullwinkle, The (2000)
3000                     Emperor's New Groove, The (2000)
3568                                Monsters, Inc. (2001)
6194                                     Wild, The (2006)
6486                               Shrek the Third (2007)
6948                       Tale of Despereaux, The (2008)
7760    Asterix and the Vikings (Astérix et les Viking...
8219                                         Turbo (2013)
Name: title, dtype: object

In [39]:
df1.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy